- provide(:title, "About")

.x-container.x-main

  %h1.like-h1= t('.about_title')
  %div
    %p.like-p
      Приложение Experteese предназначено для сбора оценок предпочтений пользователей.
    %p.like-p
      Пользователи выступают в роли экспертов. Их мнение крайне важно для экспертного сообщества.
    %p.like-p
      На основе частных мнений экспертов вычисляется средняя квалифицированная оценка.
    %p.like-p
      Собранные в данном приложении данные представляют интерес как для самих экспертов, так и для сторонних организаций и пользователей, занятых, например, в сфере маркетинга и изучения рынков.
