- provide(:title, "Contacts")

-# .x-container.x-main
%h1.like-h1= t('.title')

%div
  %p.like-p= t('.paragraph_1')
  %p.like-p
    = t('.paragraph_2')
    %a.like-a(href="mailto:storonaot@gmail.com")= t('.mail_to')
