-# .x-container.x-main
%h1.like-h1=t ('.title')
%button.x-button.is-center Войти
-# %button.x-button.is-center Начать
.x-serbor
-# .x-text-center Нажмите, чтобы начать
.x-text-center Войдите, чтобы начать
