%header
  .x-container.x-header
    .x-header__inner
      %nav.x-header__nav
        %a.x-header__nav-item(href="#") Index
        %a.x-header__nav-item(href="#") Help
        %a.x-header__nav-item(href="#") Contacts
        %a.x-header__nav-item(href="#") About
      %nav.x-header__nav.x-header__nav--right
        .x-header__lang
          %a.x-header__lang-item(href="#") ru
          %a.x-header__lang-item(href="#") en
        -# .x-header__user.is-active
        .x-header__user
          .x-header__avatar
          .x-header__mail(href="#") storonaot@gmail.com
          .x-header__dropdown
        -# %a.x-header__nav-item(href="#") About
    .x-header__center
      .x-header__core
        .x-header__label exp

      -# %div Я хедер
