%header
  .x-container.x-header
    .x-header__inner
      %nav.x-header__nav
        = link_to 'Index', root_path, :class => ['x-header__nav-item', current_page?(root_path) ? 'is-active' : '']
        = link_to 'Help', help_path, :class => ['x-header__nav-item', current_page?(help_path) ? 'is-active' : '']
        = link_to 'Contacts', contacts_path, :class => ['x-header__nav-item', current_page?(contacts_path) ? 'is-active' : '']
        = link_to 'About', about_path, :class => ['x-header__nav-item', current_page?(about_path) ? 'is-active' : '']
      %nav.x-header__nav.x-header__nav--right
        .x-header__lang
          %a.x-header__lang-item(href="#") ru
          %a.x-header__lang-item(href="#") en
        -# .x-header__user.is-active
        .x-header__user
          .x-header__avatar
          .x-header__mail(href="#") storonaot@gmail.com
          .x-header__dropdown
        -# %a.x-header__nav-item(href="#") About
    .x-header__center
      .x-header__core
        .x-header__label exp

      -# %div Я хедер
